.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Exports
exports/*
*.dta

# Config files with tokens
python/config/*
python/dist/*
python/build/*
python/src/registream.egg-info/*
paper/*
stata_journal_submission/*
